.sm-items-start {
    align-items: flex-start;
}

.sm-items-end {
    align-items: flex-end;
}

.sm-items-center {
    align-items: center;
}

.sm-items-baseline {
    align-items: baseline;
}

.sm-items-stretch {
    align-items: stretch;
}
