.sm-justify-self-auto {
    justify-self: auto;
}

.sm-justify-self-start {
    justify-self: start;
}

.sm-justify-self-end {
    justify-self: end;
}

.sm-justify-self-center {
    justify-self: center;
}
