.sm-justify-start {
    justify-content: flex-start;
}

.sm-justify-end {
    justify-content: flex-end;
}

.sm-justify-center {
    justify-content: center;
}

.sm-justify-between {
    justify-content: space-between;
}

.sm-justify-around {
    justify-content: space-around;
}

.sm-justify-evenly {
    justify-content: space-evenly;
}

.sm-justify-stretch {
    justify-content: stretch;
}

.sm-justify-normal {
    justify-content: normal;
}
