.sm-white-background {
    background: var(--sm-white-color);
}

.sm-border-default-background {
    background: var(--sm-border-default-color);
}

.sm-border-hover-background {
    background: var(--sm-border-hover-color);
}

.sm-shadow-default-background {
    background: var(--sm-shadow-default-color);
}

.sm-primary-background {
    background: var(--sm-primary-color);
}

.sm-middle-primary-background {
    background: var(--sm-middle-primary-color);
}

.sm-light-primary-background {
    background: var(--sm-light-primary-color);
}

.sm-ultra-light-primary-background {
    background: var(--sm-ultra-light-primary-color);
}

.sm-accent-background {
    background: var(--sm-accent-color);
}

.sm-light-accent-background {
    background: var(--sm-light-accent-color);
}

.sm-gray-default-background {
    background: var(--sm-gray-default-color);
}

.sm-gray-middle-background {
    background: var(--sm-gray-middle-color);
}

.sm-gray-light-background {
    background: var(--sm-gray-light-color);
}

.sm-error-background {
    background: var(--sm-error-color);
}

.sm-bg-light-background {
    background: var(--sm-bg-light-color);
}

.sm-bg-middle-background {
    background: var(--sm-bg-middle-color);
}

.sm-bg-primary-background {
    background: var(--sm-bg-primary-color);
}

.sm-bg-modals-background {
    background: var(--sm-bg-modals-color);
}

.sm-bg-modals-wrapper-background {
    background: var(--sm-bg-modals-wrapper-color);
}

.sm-bg-error-background {
    background: var(--sm-bg-error-color);
}
