.sm-white-color {
    color: var(--sm-white-color);
}

.sm-border-default-color {
    color: var(--sm-border-default-color);
}

.sm-border-hover-color {
    color: var(--sm-border-hover-color);
}

.sm-shadow-default-color {
    color: var(--sm-shadow-default-color);
}

.sm-primary-color {
    color: var(--sm-primary-color);
}

.sm-middle-primary-color {
    color: var(--sm-middle-primary-color);
}

.sm-light-primary-color {
    color: var(--sm-light-primary-color);
}

.sm-ultra-light-primary-color {
    color: var(--sm-ultra-light-primary-color);
}

.sm-accent-color {
    color: var(--sm-accent-color);
}

.sm-light-accent-color {
    color: var(--sm-light-accent-color);
}

.sm-gray-default-color {
    color: var(--sm-gray-default-color);
}

.sm-gray-middle-color {
    color: var(--sm-gray-middle-color);
}

.sm-gray-light-color {
    color: var(--sm-gray-light-color);
}

.sm-error-color {
    color: var(--sm-error-color);
}

.sm-bg-light-color {
    color: var(--sm-bg-light-color);
}

.sm-bg-middle-color {
    color: var(--sm-bg-middle-color);
}

.sm-bg-primary-color {
    color: var(--sm-bg-primary-color);
}

.sm-bg-modals-color {
    color: var(--sm-bg-modals-color);
}

.sm-bg-modals-wrapper-color {
    color: var(--sm-bg-modals-wrapper-color);
}

.sm-bg-error-color {
    color: var(--sm-bg-error-color);
}
