.sm-font-thin {
    font-weight: 100;
}

.sm-font-extralight {
    font-weight: 200;
}

.sm-font-light {
    font-weight: 300;
}

.sm-font-normal {
    font-weight: 400;
}

.sm-font-medium {
    font-weight: 500;
}

.sm-font-semibold {
    font-weight: 600;
}

.sm-font-bold {
    font-weight: 700;
}

.sm-font-extrabold {
    font-weight: 800;
}

.sm-font-black {
    font-weight: 900;
}
