.sm-min-h-auto {
    min-height: auto;
}

.sm-min-h-full {
    min-height: 100%;
}

.sm-min-h-screen {
    min-height: 100vh;
}

.sm-min-h-fit {
    min-height: fit-content;
}

.sm-min-h-min {
    min-height: min-content;
}

.sm-min-h-max {
    min-height: max-content;
}
